//color
$color-principal: #E5CF48;  
$color-second: #CAD665;
$color-white: #FFF;
$color-black: #000;

//placeholder
%color1{ color: #1D6960;}
%color2{ color: #91D3CE;}
%color3{ color: #CAD665;}
%color4{ color: #E5CF48;}

// P of feature
$name: __space;
$attr: padding;
$bene: __descer;


//FONT 
$default-font-size: 1.6rem;
$default-font-size-5: 1.5rem;
$default-font: 2rem;
 
//GRID
$grid-widht: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 1rem;


//FONT 
$default-font-size: 1.6rem;
$default-font-size-5: 1.5rem;
$default-font: 2rem;

 