.footer {
    &__light {
        padding: 6rem 0 0 0;
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        height: 7rem;
        margin-left: 18rem;
        @include respond(desktop) {
            //not
            margin-left: 10rem;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-around;
        max-width: 57.5rem;
        width: 100%;
    }
    &__menu {
        margin-left: 5rem;
    }
    &__heading {
        color: #1D6960;
        font-size: 1.8rem;
        letter-spacing: 3%;
    }
    &__list {
        li {
            list-style: none;
        }
        a {
            text-decoration: none;
            color: #000;
            font-size: 1.7rem;
            font-weight: 600;
            letter-spacing: 0.03em;
            &:hover{
                background: linear-gradient(to left,#499e97,#548d46,#965c4e);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                transition: all 0.2s;
                animation: gradient 8s ease infinite;
            }
        }
    }
    &__heading-form {
        color: #1D6960;
        font-size: 1.8rem;
        letter-spacing: 3%;
        padding-bottom: 2.2rem;
    }
    &__inputs-form {
        margin-right: 14rem; //
        display: flex;
        *:focus {
            outline: none;
        }
        input[type='email'] {
            width: 100%;
            max-width: 40rem;
            height: 4.5rem;
            font-size: 1.8rem;
            padding-left: 2rem;
            border: none;
            border-radius: .7rem;
        }
        &--button {
            font-size: 1.8rem;
            letter-spacing: 0.07em;
            font-weight: 600;
            text-transform: uppercase;
            border: none;
            color: #fff;
            border-radius: 0.8rem;
            height: 4.7rem;
            width: 20rem;
            margin-left: 2rem;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            transition: color 250ms ease-in-out 250ms;
            z-index: 1;
            &-center {
                background-color: #1D6960;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, #3e9784, #33978681);
                border-radius: .4rem;
                z-index: -1;
                transform: scaleX(0);
                transition: transform 300ms ease-out 200ms;
            }
            &:hover {
                background: #208865;
                color: $color-white;
                border: 0;
                &:after {
                    transform: scaleX(1);
                    transform-origin: 50% 50%;
                    transition: transform 300ms ease-out;
                }
            }
        }
    }
    &__heading-social {
        color: #1D6960;
        font-size: 1.8rem;
        letter-spacing: 3%;
        padding: 4rem 0 1.5rem 0;

    }
    &__icons-midia a img {
        margin: 0 3rem 6rem 0;
        

    }
    &__dark {
        padding: 5rem 15.4rem;
        background-color: #D5D5D5;
        display: flex;
        justify-content: space-between;
    }
    &__Copyright {
        p {
            font-size: 1.3rem;
            font-weight: 500;
            letter-spacing: 3%;
            line-height: 2.8rem;

        }
    }
    &__menu-dark {
        a {
            text-decoration: none;
            color: #1D6960;
            font-weight: 700;
            font-size: 1.6rem;
            margin-left: 4rem;

            &:hover{
                background: linear-gradient(to left,#499e97,#548d46,#965c4e);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
                transition: all 0.2s;
                animation: gradient 8s ease infinite;
            }
        }
    }
    @include respond(laptop) {
        display: none;
    }
    @include respond(tablet) {
        display: none;
    }
    @include respond(phone) {
        display: none;
    }
}